* {
  margin: 0px;
  padding: 0px;
  background-color: #0f0f0f;
  color: white;
}

/* .container > * {
  border: 1px solid red;
} */

.back-color-trans {
  background-color: transparent;
}

.back-color-inherit {
  background-color: inherit;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-pointer:hover {
  cursor: pointer;
}