.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 56px;
}

.header-start-div {
  display: flex;
  align-items: center;
  width: 169px;
}

.header-hamberger-div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.header-youtube {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header-kr {
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.header-youtube-kr-span-div {
  height: 40px;
}


/* header > search-div */
.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 503px;
  height: 40px;
}

.search-div-div {
  display: flex;
  width: 484px;
}

.search-input {
  height: 38px;
  width: 100%;
  border: none;
  padding-left: 15px;
}

.search-input:focus {
  border: none;
  outline: none;
}

.search-div-div {
  border: 1px solid rgb(48, 48, 48);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.search-div-div:focus-within {
  border: 1px solid #1c62b9;
  outline: none;
}

.search-keyboard-icon {
  margin-right: 10px;
  margin-left: 5px;
}

.search-div-btn {
  border: 1px solid rgb(48, 48, 48);
  height: 38px;
  border-left: none;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #222222;
}

.search-div-btn:hover {
  cursor: pointer;
}

.search-div-btn > div > svg {
  background-color: inherit;
}

.search-div-btn-svg {
  background-color: inherit;
}

.search-div-mic {
  width: 40px;
  height: 40px;
  background-color: #222222;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.search-div-mic:hover {
  background-color: #272727;
}

.search-div-mic-svg {
  background-color: inherit;
}

.search-div-mic-svg > svg {
  background-color: inherit;
}

.header-end-div {
  width: 120px;
}

.account-img {
  border-radius: 20px;
}